.gif-player .gui2-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    margin: auto 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 20px;
    width: 35px;
    height: 35px;
    background-color: #a000ff9a;
    cursor: pointer;
}

.gif-player .gui2-circle.hidden {
    cursor: inherit;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.8);
}

.gif-player .gui2-circle .gui2-play-button {
    margin-top: 2px;
    margin-left: 5px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 30px solid #fff8;

}

.gif-player .gui2-navigation-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gif-player .gui2-time-line{
    cursor: pointer;
    width: 96%;
    height: min-content;
    background-color: #fff8;
}
.gif-player .gui2-time-line:hover .gui2-progress-line {
    padding: 1px 0 !important;
}

.gif-player .gui2-progress-line {
    height: 3px;
    background-color: #a000ff9a;
}

.gif-player .gui2-navigation-menu {
    width: 96%;
}

.gif-player .transition {
    -webkit-transition: 400ms ease-in-out;
    -o-transition: 400ms ease-in-out;
    -moz-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
}